{% extends 'base.html.twig' %}

{% block title %}global.usuario{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="container" >
                        <img id="profile-img" src="/SportSpals/public/avatars/{{global.usuario.avatar}}">
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        {{global.usuario.nick}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        {{global.usuario.nombre}} {{global.usuario.apellidos}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        {{global.usuario.email}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                       {{global.usuario.localidad}}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container" id="calendar">
                    <div id="calendar-holder"></div>
                </div>
            </div>
        </div>
    </div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    var calendarEl = document.getElementById('calendar-holder');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        defaultView: 'dayGridMonth',
        editable: true,
        eventSources: [
            {
                url: "{{ path('fc_load_events') }}",
                method: "POST",
                extraParams: {
                    filters: JSON.stringify({})
                },
                failure: () => {
                     alert("There was an error while fetching FullCalendar!");
                },
            },
        ],
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay',
        },
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
        timeZone: 'UTC',
    });
    calendar.render();
});
</script>

{% endblock %}
