{{ form_start(form) }}
    {{ form_row(form.deporte) }} {# <select id="meetup_position" ... #}
    {{ form_row(form.nivel) }}
    {{ form_row(form.posicion) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
