{{ form_start(global.form) }}
    {{ form_row(global.form.deporte) }} {# <select id="meetup_position" ... #}
    {{ form_row(global.form.nivel) }}
    {{ form_row(global.form.posicion) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(global.form) }}
