{% extends 'base.html.twig' %}

{% block title %}Participa index{% endblock %}

{% block body %}
    <h1>Participa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Posicion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participa in participas %}
            <tr>
                <td>{{ participa.id }}</td>
                <td>{{ participa.posicion }}</td>
                <td>
                    <a href="{{ path('participa_show', {'id': participa.id}) }}">show</a>
                    <a href="{{ path('participa_edit', {'id': participa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participa_new') }}">Create new</a>
{% endblock %}
