{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"> <h1>Eventos</h1></div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <a href="{{ path('evento_new') }}"> Crear evento </a>  
        </div>
    </div>
    {% for row in global.eventos|batch(3) %}
        <div class="row">
            {% for evento in row %}
                <div class="col-md-4 evento">
                    <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10 event-title">
                            <h3><b>{{evento.evento.title}}</b></h3>
                            <p>{{evento.evento.dia|date('Y-m-d')}} {{evento.evento.inicio|date('H-m-s')}}<p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="event-img"src='/SportSpals/public/evento.jpeg'></img>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-4">
                            <b>{{evento.evento.localidad}}</b>
                        </div>
                        <div class="col-md-2">
                            <p>            </p>
                        </div>
                        <div class="col-md-3 event-incription">
                            <b><a href="{{ path('evento_show', {'id': evento.evento.id}) }}">Ve al evento</a></b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}