{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
<div class="total">
    <div class="row">
        <div class="col-md-3"> <h1>Eventos</h1></div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <a href="{{ path('evento_new') }}"> Crear evento </a>  
        </div>
    </div>
    {% for row in global.eventos|batch(3) %}
        <div class="row">
            {% for evento in row %}
                <div class="col-md-4 evento">
                    <div class="evento-fondo" style="background-image:url('/SportSpals/public/events/{{evento.evento.image}}'), url('/SportSpals/public/evento.jpeg')">
                        <div class="row">
                        
                            <div class="col-md-12 event-title">
                                <h3><b>{{evento.evento.title}}</b></h3>
                                <p>{{evento.evento.dia|date("l d F")|replace({'Monday':'Lunes','Tuesday':'Martes','Wednesday':'Miercoles','Thursday':'Jueves','Friday':'Viernes','Saturday':'Sabado','Sunday':'Domingo','January':'Enero','February':'Febrero','March':'Marzo','April':'Abril','May':'Mayo','June':'Junio','July':'Julio','August':'Agosto','September':'Septiembre','October':'Octubre','November':'Noviembre','December':'Diciembre'})}} {{evento.evento.inicio|date('H:m')}}<p>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 event-body">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                
                            </div>
                            <div class="col-md-4 event-city">
                                <b>{{evento.evento.localidad}}</b>
                            </div>
                            <div class="col-md-2">
                                <p>            </p>
                            </div>
                            <div class="col-md-3 event-incription">
                                <b><a href="{{ path('evento_show', {'id': evento.evento.id}) }}">Inscripción</a></b>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}