{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"> <h1>Eventos</h1></div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <a href="{{ path('evento_new') }}"> Crear evento </a>  
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Titulo</th>
                <th>Localidad</th>
                <th>Apuntados/Requeridos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for evento in global.eventos %}
            <tr>
                <td><img src='/SportSpals/public/balls/{{evento.evento.deporte}}.png' height="30" width="30"></td>
                <td>{{ evento.evento.title }}</td>
                <td>{{ evento.evento.localidad }}</td>
                {% if evento.count  == evento.evento.requeridos %}
                    <td>El evento ya está completo</td>
                {% else %}
                    <td>{{ evento.count }}/{{ evento.evento.requeridos }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('evento_show', {'id': evento.evento.id}) }}">Ve al evento</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aun no hay ningun evento registrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}