{% extends 'base.html.twig' %}

{% block title %}Evento{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6"> 
        </div>
        <div class="col-md-6">   
        </div>
    </div>
    <div class="row">
    
    </div>
</div>
    <h1>Evento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evento.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ evento.title }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ evento.descripcion }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ evento.direccion }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ evento.start }}</td>
            </tr>
            <tr>
                <th>Requeridos</th>
                <td>{{ evento.requeridos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evento_index') }}">back to list</a>

    <a href="{{ path('evento_edit', {'id': evento.id}) }}">edit</a>

    {{ include('evento/_delete_form.html.twig') }}
{% endblock %}
