{% extends 'base.html.twig' %}

{% block title %}Evento{% endblock %}

{% block body %}
<script>
    $(document).ready(function(){
        $("button").click(function(){
        var posTeam = $(this).parent().parent().attr('id');
        $.ajax({
            url: "{{ path('participa_new_ajax') }}",
            type: "POST",
            data: {id : {{global.evento.id}},
                    posicion : posTeam },
            success: function(html){
                        location.reload();
                    }
            });
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="event-info">
            <div class="row">
                <h3>{{ global.evento.title }}</h3>
            </div>
            <div class="row">
                <p>{{ global.evento.descripcion }}</p>
            </div>
            <div class="row">
                <p>{{ global.evento.direccion }}</p>
            </div>
            <div class="row">
                <p>{{ global.evento.dia|date('d-m-Y') }}</p>
            </div>
            <div class="row">
                <p>{{ global.evento.inicio|date('H:i:s') }} / {{ global.evento.final|date('H:i:s')}}</p>
            </div>
            <div class="row">
                <p>{{ global.evento.requeridos }}</p>
            </div>
        </div>
        <div class="col-md-6" id="court" style="background-image: url('/SportSpals/public/courts/{{global.evento.deporte.nombre}}.png');"> 
            {% include (global.court) ignore missing with {'global':global } %}
        </div>
    </div>
    <div class="row">
    
    </div>
</div>
    <a href="{{ path('evento_index') }}">back to list</a>
{% endblock %}
