{% extends 'base.html.twig' %}

{% block title %}{{global.deporte.nombre}}{% endblock %}

{% block body %}
    <h1>{{global.deporte.nombre}}</h1>
        <table>
            <tr>
                <td>{{ global.deporte.id }}</td>
                <td>{{ global.deporte.Nombre }}</td>
                <td>{{ global.deporte.Descripcion }}</td>
            </tr>
    </table>
{% endblock %}