{{ form_start(form) }}
    {{ form_row(form.deporte) }}
    {{ form_row(form.nivel) }}
    {{ form_row(form.localidad) }}
    {{ form_row(form.title) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.direccion) }}
    {{ form_row(form.requeridos) }}
    {{ form_row(form.dia, {'attr':{'class':'ds','min': hoy }}) }}
    {{ form_row(form.inicio) }}
    {{ form_row(form.final) }}
    {{ form_row(form.image) }}

    <button class="btn btn-lg lg-button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
