{% extends 'adminbase.html.twig' %}

{% block title %}Evento index{% endblock %}

{% block body %}
    <h1>Indice de Eventos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Descripcion</th>
                <th>Direccion</th>
                <th>Dia</th>
                <th>Requeridos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.id }}</td>
                <td>{{ evento.title }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.direccion }}</td>
                <td>{{ evento.dia|date('d-m-Y') }}</td>
                <td>{{ evento.requeridos }}</td>
                <td>
                    <a href="{{ path('admin_evento_show', {'id': evento.id}) }}">detalle</a>
                    <a href="{{ path('evento_edit', {'id': evento.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evento_new') }}">Create evento</a>
{% endblock %}
