
{% block title %}Deporte index{% endblock %}

{% block body %}
    <h1>Deporte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deporte in deportes %}
            <tr>
                <td>{{ deporte.id }}</td>
                <td>{{ deporte.Nombre }}</td>
                <td>{{ deporte.Descripcion }}</td>
                <td>
                    <a href="{{ path('admin_deporte_show', {'id': deporte.id}) }}">show</a>
                    <a href="{{ path('admin_deporte_edit', {'id': deporte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se han encontrado deportes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_deporte_new') }}">Crear Nuevo Deporte</a>
{% endblock %}
